In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup as BS
import re
import matplotlib as plt
import seaborn as sns
from lxml import html

In [2]:
df_1= pd.read_csv('..\data\Graph_of_Excise_Taxes_on_Cigarettes__CDC_STATE_System_Tobacco_Legislation_-_Tax_.csv')

df_1

,Year,Quarter,LocationAbbr,LocationDesc,TopicDesc,MeasureDesc,DataSource,ProvisionGroupDesc,ProvisionDesc,ProvisionValue,...,Comments,Enacted_Date,Effective_Date,GeoLocation,DisplayOrder,TopicTypeId,TopicId,MeasureId,ProvisionGroupID,ProvisionID
0,2021,1,MD,Maryland,Legislation - Tax Combustible Tobacco,Cigarette,OSH,Restrictions,Cigarette Tax ($ per pack),3.750,...,NaN,2/12/2021,3/14/2021,"(39.29058096400047, -76.60926011099963)",5,LEG,1010LEG,670CGR,10GRP,411
1,2021,2,MD,Maryland,Legislation - Tax Combustible Tobacco,Cigarette,OSH,Restrictions,Cigarette Tax ($ per pack),3.750,...,NaN,2/12/2021,3/14/2021,"(39.29058096400047, -76.60926011099963)",5,LEG,1010LEG,670CGR,10GRP,411
2,2021,4,VA,Virginia,Legislation - Tax Combustible Tobacco,Cigarette,OSH,Restrictions,Cigarette Tax ($ per pack),0.600,...,NaN,5/21/2020,7/1/2020,"(37.54268067400045, -78.45789046299967)",5,LEG,1010LEG,670CGR,10GRP,411
3,2016,1,UT,Utah,Legislation - Tax Combustible Tobacco,Cigarette,OSH,Restrictions,Cigarette Tax ($ per pack),1.700,...,NaN,3/13/2010,7/1/2010,"(39.360700171000474, -111.58713063499971)",5,LEG,1010LEG,670CGR,10GRP,411
4,2016,3,MT,Montana,Legislation - Tax Combustible Tobacco,Cigarette,OSH,Restrictions,Cigarette Tax ($ per pack),1.700,...,NaN,11/2/2004,1/1/2005,"(47.06652897200047, -109.42442064499971)",5,LEG,1010LEG,670CGR,10GRP,411
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4579,2021,3,NM,New Mexico,Legislation - Tax Combustible Tobacco,Cigarette,OSH,Restrictions,Cigarette Tax ($ per pack),2.000,...,NaN,4/4/2019,7/1/2019,"(34.52088095200048, -106.24058098499967)",5,LEG,1010LEG,670CGR,10GRP,411
4580,2019,3,NM,New Mexico,Legislation - Tax Combustible Tobacco,Cigarette,OSH,Restrictions,Cigarette Tax ($ per pack),2.000,...,NaN,4/4/2019,7/1/2019,"(34.52088095200048, -106.24058098499967)",5,LEG,1010LEG,670CGR,10GRP,411
4581,2020,3,NM,New Mexico,Legislation - Tax Combustible Tobacco,Cigarette,OSH,Restrictions,Cigarette Tax ($ per pack),2.000,...,NaN,4/4/2019,7/1/2019,"(34.52088095200048, -106.24058098499967)",5,LEG,1010LEG,670CGR,10GRP,411
4582,2020,4,NM,New Mexico,Legislation - Tax Combustible Tobacco,Cigarette,OSH,Restrictions,Cigarette Tax ($ per pack),2.000,...,NaN,4/4/2019,7/1/2019,"(34.52088095200048, -106.24058098499967)",5,LEG,1010LEG,670CGR,10GRP,411
4583,2021,4,NM,New Mexico,Legislation - Tax Combustible Tobacco,Cigarette,OSH,Restrictions,Cigarette Tax ($ per pack),2.000,...,NaN,4/4/2019,7/1/2019,"(34.52088095200048, -106.24058098499967)",5,LEG,1010LEG,670CGR,10GRP,411

In [3]:
df_2= pd.read_csv('..\data\BRFSS_Prevalence_and_Trends_Data__Tobacco_Use_-_Four_Level_Smoking_Data_for_1995-2010.csv')
df_2

,Year,State,Smoke everyday,Smoke some days,Former smoker,Never smoked,Location 1
0,1996,Puerto Rico,9.4,5.1,16.0,69.5,Puerto Rico
1,2005,Virgin Islands,5.3,2.8,12.8,79.1,Virgin Islands
2,2005,Puerto Rico,7.9,5.2,16.9,70.0,Puerto Rico
3,2002,Virgin Islands,7.0,2.4,12.1,78.5,Virgin Islands
4,2003,Guam,26.3,7.8,14.3,51.7,NaN
...,...,...,...,...,...,...,...
871,1995,Washington,17.5,2.4,29.9,50.2,"Washington\n(47.522280000022135, -120.47001000..."
872,1995,Virginia,18.7,2.7,25.2,53.5,"Virginia\n(37.54268000028196, -78.45789000012326)"
873,2004,North Dakota,14.8,5.1,23.6,56.5,"North Dakota\n(47.475320000018144, -100.118419..."
874,2005,Rhode Island,15.3,4.4,28.8,51.4,"Rhode Island\n(41.70828000002217, -71.52247000..."
875,2005,New Mexico,14.6,6.9,24.4,54.1,"New Mexico\n(34.52088000011207, -106.240579999..."

In [4]:
oc_df= pd.read_csv('..\data\occupation.csv', encoding='latin1')

oc_df

,Column1,All Workers,Male Workers,Female Workers
0,Occupation,Estimated Population,Estimated Population,Estimated Population
1,Management,"13,434,135","8,667,251","4,766,884"
2,Business and financial operations,"6,375,365","2,960,511","3,414,854"
3,Computer and mathematical,"4,028,302","2,958,044","1,070,258"
4,Architecture and engineering,"2,749,737","2,289,361","460,376"
5,"Life, physical, and social science","1,601,830","766,458","835,372"
6,Community and social services,"2,570,649","1,008,411","1,562,238"
7,Legal,"1,734,154","885,116","849,038"
8,"Education, training, and library","9,286,991","2,614,770","6,672,221"
9,"Arts, design, entertainment, sports, and media","2,847,033","1,469,924","1,377,109"
10,Healthcare practitioners and technical,"6,875,995","1,663,838","5,212,157"
11,Healthcare support,"3,436,325","415,430","3,020,895"
12,Protective service,"2,767,168","2,182,324","584,844"
13,Food preparation and serving related,"7,445,873","3,254,996","4,190,877"
14,Building and grounds cleaning and maintenance,"5,364,740","3,237,468","2,127,272"
15,Personal care and service,"5,000,630","1,022,414","3,978,216"
16,Sales and related,"14,277,228","7,421,957","6,855,271"
17,Office and administrative support,"18,102,337","4,699,582","13,402,755"
18,"Farming, fishing, and forestry","866,641","630,062","236,579"
19,Construction and extraction,"7,395,664","7,249,507","146,157"
20,"Installation, maintenance, and repair","4,904,048","4,724,338","179,710"
21,Production,"8,011,646","5,535,438","2,476,208"
22,Transportation and material moving,"7,788,968","6,534,947","1,254,021"
23,Millitary,"132,615","102,438","30,177"
24,"Refused, not ascertained, dont know","1,952,615","1,111,830","840,785"
25,TOTAL,"138,950,689","73,406,415","65,544,274"

In [5]:
oc_df_1= oc_df.drop([0,25])
oc_df_1

,Column1,All Workers,Male Workers,Female Workers
1,Management,"13,434,135","8,667,251","4,766,884"
2,Business and financial operations,"6,375,365","2,960,511","3,414,854"
3,Computer and mathematical,"4,028,302","2,958,044","1,070,258"
4,Architecture and engineering,"2,749,737","2,289,361","460,376"
5,"Life, physical, and social science","1,601,830","766,458","835,372"
6,Community and social services,"2,570,649","1,008,411","1,562,238"
7,Legal,"1,734,154","885,116","849,038"
8,"Education, training, and library","9,286,991","2,614,770","6,672,221"
9,"Arts, design, entertainment, sports, and media","2,847,033","1,469,924","1,377,109"
10,Healthcare practitioners and technical,"6,875,995","1,663,838","5,212,157"
11,Healthcare support,"3,436,325","415,430","3,020,895"
12,Protective service,"2,767,168","2,182,324","584,844"
13,Food preparation and serving related,"7,445,873","3,254,996","4,190,877"
14,Building and grounds cleaning and maintenance,"5,364,740","3,237,468","2,127,272"
15,Personal care and service,"5,000,630","1,022,414","3,978,216"
16,Sales and related,"14,277,228","7,421,957","6,855,271"
17,Office and administrative support,"18,102,337","4,699,582","13,402,755"
18,"Farming, fishing, and forestry","866,641","630,062","236,579"
19,Construction and extraction,"7,395,664","7,249,507","146,157"
20,"Installation, maintenance, and repair","4,904,048","4,724,338","179,710"
21,Production,"8,011,646","5,535,438","2,476,208"
22,Transportation and material moving,"7,788,968","6,534,947","1,254,021"
23,Millitary,"132,615","102,438","30,177"
24,"Refused, not ascertained, dont know","1,952,615","1,111,830","840,785"

In [6]:
oc_df_2= oc_df_1.sort_values(by=['All Workers'], ascending=False)
oc_df_2

,Column1,All Workers,Male Workers,Female Workers
8,"Education, training, and library","9,286,991","2,614,770","6,672,221"
18,"Farming, fishing, and forestry","866,641","630,062","236,579"
21,Production,"8,011,646","5,535,438","2,476,208"
22,Transportation and material moving,"7,788,968","6,534,947","1,254,021"
13,Food preparation and serving related,"7,445,873","3,254,996","4,190,877"
19,Construction and extraction,"7,395,664","7,249,507","146,157"
10,Healthcare practitioners and technical,"6,875,995","1,663,838","5,212,157"
2,Business and financial operations,"6,375,365","2,960,511","3,414,854"
14,Building and grounds cleaning and maintenance,"5,364,740","3,237,468","2,127,272"
15,Personal care and service,"5,000,630","1,022,414","3,978,216"
20,"Installation, maintenance, and repair","4,904,048","4,724,338","179,710"
3,Computer and mathematical,"4,028,302","2,958,044","1,070,258"
11,Healthcare support,"3,436,325","415,430","3,020,895"
9,"Arts, design, entertainment, sports, and media","2,847,033","1,469,924","1,377,109"
12,Protective service,"2,767,168","2,182,324","584,844"
4,Architecture and engineering,"2,749,737","2,289,361","460,376"
6,Community and social services,"2,570,649","1,008,411","1,562,238"
17,Office and administrative support,"18,102,337","4,699,582","13,402,755"
16,Sales and related,"14,277,228","7,421,957","6,855,271"
23,Millitary,"132,615","102,438","30,177"
1,Management,"13,434,135","8,667,251","4,766,884"
24,"Refused, not ascertained, dont know","1,952,615","1,111,830","840,785"
7,Legal,"1,734,154","885,116","849,038"
5,"Life, physical, and social science","1,601,830","766,458","835,372"

In [7]:
oc_df_2= oc_df_2.drop([18])
oc_df_2

,Column1,All Workers,Male Workers,Female Workers
8,"Education, training, and library","9,286,991","2,614,770","6,672,221"
21,Production,"8,011,646","5,535,438","2,476,208"
22,Transportation and material moving,"7,788,968","6,534,947","1,254,021"
13,Food preparation and serving related,"7,445,873","3,254,996","4,190,877"
19,Construction and extraction,"7,395,664","7,249,507","146,157"
10,Healthcare practitioners and technical,"6,875,995","1,663,838","5,212,157"
2,Business and financial operations,"6,375,365","2,960,511","3,414,854"
14,Building and grounds cleaning and maintenance,"5,364,740","3,237,468","2,127,272"
15,Personal care and service,"5,000,630","1,022,414","3,978,216"
20,"Installation, maintenance, and repair","4,904,048","4,724,338","179,710"
3,Computer and mathematical,"4,028,302","2,958,044","1,070,258"
11,Healthcare support,"3,436,325","415,430","3,020,895"
9,"Arts, design, entertainment, sports, and media","2,847,033","1,469,924","1,377,109"
12,Protective service,"2,767,168","2,182,324","584,844"
4,Architecture and engineering,"2,749,737","2,289,361","460,376"
6,Community and social services,"2,570,649","1,008,411","1,562,238"
17,Office and administrative support,"18,102,337","4,699,582","13,402,755"
16,Sales and related,"14,277,228","7,421,957","6,855,271"
23,Millitary,"132,615","102,438","30,177"
1,Management,"13,434,135","8,667,251","4,766,884"
24,"Refused, not ascertained, dont know","1,952,615","1,111,830","840,785"
7,Legal,"1,734,154","885,116","849,038"
5,"Life, physical, and social science","1,601,830","766,458","835,372"

In [8]:
oc_df_2.dtypes

Column1           object
All Workers       object
Male Workers      object
Female Workers    object
dtype: object

In [12]:
oc_df_2.to_csv('..\csv_nb\Book1.csv')

In [9]:
oc_df_2['points'] = oc_df_2['All Workers'].astype(str).astype(int)
oc_df_2.dtypes

ValueError: invalid literal for int() with base 10: '9,286,991'

In [ ]:
import matplotlib.pyplot as plt 
import numpy as np 


plt.bar(oc_df_2['Column1'], oc_df_2['All Workers'])
plt.title('2019 Smoker by Occupation', fontsize=14)
plt.xlabel('Occupation', fontsize=14)
plt.ylabel('Gender', fontsize=14)
plt.grid(True)
plt.show()

In [ ]:
sns.barplot(y = 'Column1', x = 'All Workers',
            data=oc_df_2).set(title = 'Country Participation',xlabel='Country',ylabel='Number of Entries')